.projects {
  width: 100%;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.projectCard {
  text-align: center;
  height: 100%;
  width: 80%;
  margin: 2rem;
  -webkit-box-shadow: 7px 13px 14px 7px rgba(0, 0, 0, 0.63);
  box-shadow: 7px 13px 14px 7px rgba(0, 0, 0, 0.63);
}

.projectCard__body {
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 400px; /* You must set a specified height */
  background-position: top; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

img {
  width: 100px;
  height: auto;
}

.projectCard__header {
  background-color: lightseagreen;
  padding: 1.5rem;
  font-size: 2.5rem;
}

.projectCard__footer {
  background-color: lightsteelblue;
  padding: 0.75rem;
  font-size: 1.5rem;
}
