.quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.quoteContainer {
  display: flex;
  flex-direction: column;
  height: 11vh;
  width: 30vh;
  border: 1px solid black;
  border-radius: 25px;
  margin: 2rem 0 1rem 0;
  padding: 1rem;
}

.quote {
  word-wrap: break-word;
  width: 90%;
  height: 8vh;
  font-size: 1.25rem;
  transition: all, 0.2;
}

.attributeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 2vh;
}
